body {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.global-loading {
  position: fixed;
  right: 10px;
  top: 62px;
  left: auto;
  z-index: 1;
}

.list-group-item span {
  font-size: 20px;
  position: relative;
  top: -6px;
  left: 10px;
}
.font-26 {
  font-size: 26px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgray !important;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
::-moz-placeholder { /* Firefox 19+ */
  color: lightgray !important;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
:-ms-input-placeholder { /* IE 10+ */
  color: lightgray !important;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
:-moz-placeholder { /* Firefox 18- */
  color: lightgray !important;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
input::placeholder {
  color: lightgray !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}