body {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #e6ecf0
}

.global-loading {
  position: fixed;
  right: 10px;
  top: 62px;
  left: auto;
  z-index: 1;
}

.font-26 {
  font-size: 26px;
}
.cursor {
  cursor: pointer;
}
.ls-1 {
  letter-spacing: 1px;
}
.label {
  letter-spacing: 1px;
  text-transform: uppercase
}

.separator::before {
  content: "";
  background: #dadada;
  width: 40%;
  height: 1px;
  top: 8px;
  position: absolute;
  left: 0;
}
.separator{
  padding: 0 10px;
  font-size: 18px;
  line-height: 18px;
  position: relative;
  margin: 20px 0 10px;
  color: #dadada;
}
.separator::after {
  content: "";
  background: #dadada;
  width: 40%;
  height: 1px;
  top: 8px;
  right: 0;
  position: absolute;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgray !important;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
::-moz-placeholder { /* Firefox 19+ */
  color: lightgray !important;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
:-ms-input-placeholder { /* IE 10+ */
  color: lightgray !important;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
:-moz-placeholder { /* Firefox 18- */
  color: lightgray !important;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
input::placeholder {
  color: lightgray !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.help {
  margin: 7px 0 0;
  font-weight: bold;
  text-transform: uppercase
}
